<div class="p-5">
    <h1 class="text-center text-3xl font-bold underline">{{#if message}}{{message}}{{else}}Cart Product List{{/if}}</h1>
    {{#if payload}}
    <div class="flex justify-center p-5">
        <ul>
            {{#each payload}}
            <li>id: {{this.idProduct._id}} name: {{this.idProduct.title}} - price: ${{this.idProduct.price}} - stock:
                {{this.idProduct.stock}} - category:
                {{this.idProduct.category}} - quantity: {{this.quantity}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="flex justify-center gap-5 text-center">
        {{#if prevPage}}
        <a href="{{prevPageUrl}}"><i class="m-auto fa-solid fa-backward"></i></a>
        {{/if}}
        {{#if nextPage}}
        <a href="{{nextPageUrl}}"><i class="m-auto fa-solid fa-forward"></i></a>
        {{/if}}
    </div>
</div>