<div>
    <h1 class="text-3xl text-center font-bold underline">Dashboard</h1>
    {{#if user}}
    <p class="text-xl text-center">Welcome, {{user.first_name}}</p>
    <h2 class="mt-10 mb-3 text-xl font-bold text-center">Perfil</h2>
    <div class="flex justify-center">
        <div>
            <p>Email: {{user.email}}</p>
            <p>Full name: {{user.first_name}} {{user.last_name}}</p>
            <p>Age: {{user.age}}</p>
            <p>Role: {{user.role}}</p>
        </div>
    </div>
    <button id="logout-btn" type="submit"
        class="block mx-auto my-3 text-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</button>
    {{else}}
    <p class="text-xl text-center">Welcome, Guest. <span class="font-bold text-red-500"><a href="/?login=true">Sign
                in</a> </span>or Register <a href="/?register=true" class="font-bold text-red-500">here</a></p>
    {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/profile.js"></script>