<div>
    <p>Your cart ID: <a class="font-bold underline hover:text-blue-600" id="cart-id"></a></p>
</div>
<div class="p-5">
    <h1 class="text-center text-3xl font-bold underline">{{#if message}}{{message}}{{else}}Product List{{/if}}</h1>
    {{#if payload}}
    <div class="flex justify-center p-5">
        <ul>
            {{#each payload}}
            <li>id: {{this._id}} name: {{this.title}} - price: ${{this.price}} - stock: {{this.stock}} - category:
                {{this.category}} <a id="{{this._id}}"><button
                        class="mx-5 my-1 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add
                        to cart</button></a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="flex justify-center gap-5 text-center">
        {{#if prevPage}}
        <a href="{{prevPageUrl}}"><i class="m-auto fa-solid fa-backward"></i></a>
        {{/if}}
        {{#if nextPage}}
        <a href="{{nextPageUrl}}"><i class="m-auto fa-solid fa-forward"></i></a>
        {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/products.js"></script>